# Ignore binaries defined in cmd
/ttempdir
# Ignore coverage files
coverage.*
.test_report.xml
# Ignore hidden markdown files (uses these for notes etc. i.e. .NOTES.md, .README.md etc.)
.*.md
# Ignore CI and release build directory
/dist
/build
/builds
/tmp
# Ignore others
.local
.env
.cache
.vscode
.idea
